body {
    background-color: white;
    font-family: Arial, sans-serif;
}
.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(0);
    transition: all 1s ease-out;
    cursor: pointer; 
}
.project:hover {
    background-color: #f0f0f0; 
}

.project:hover:not(.visible-down):not(.visible-up) {
    transform: translateX(20px); 
}

.project.visible-down {
    opacity: 1;
    transform: translateY(+20px);
}
.project.visible-up {
    opacity: 1;
    transform: translateY(-20px);
}
#slide-tab {
    position: fixed;
    right: -50%; 
    top: 0;
    width: 50%; 
    height: 100%;
    background-color: #f9f9f9;
    transition: right 0.5s ease-out;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
#slide-tab.visible {
    right: 0;
}
.file-content {
    color: white;
    background-color: black;
    padding: 10px;
}
a {
    text-decoration: none; 
}
a:hover {
    text-decoration: underline;
}
